# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
build/
dist/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Datos y Modelos
*.csv
*.xlsx
*.parquet
*.pkl
*.joblib
*.h5
*.model
data/raw/*
data/processed/*

# Configuración 
.env
.secrets
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db